@import 'tailwindcss';
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  
  
}

@keyframes floatY {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-100px); }
}
@keyframes floatYrev {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(100px); }
}

@keyframes fade-up {
    from { opacity: 0; transform: translateY(12px) scale(.98); }
    to   { opacity: 1; transform: translateY(0)     scale(1); }
  }

@keyframes float-y {
  0%,100% { transform: translateY(0); }
  50%     { transform: translateY(-6px); }
}
@keyframes clip-wiggle {
  0%,100% { transform: rotate(-12deg); }
  50%     { transform: rotate(0deg); }
}

@keyframes floatRocket {
  0%, 100% { transform: translateY(-25px); }
  50%      { transform: translateY(40px); }
}

@theme {
    --color-pink-active: #F238B1; 
    --color-primary-active: #0487d9;
    --color-secondary-active: #F1F5F9;
    --color-dark-blue: #034AA6;
    --color-secondary-text: #333333;
    --color-secondary-white: #F1F5F9;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  
  --primary: #05aff2;
  --pink-active: #F238B1;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --border-radius: 24px;
  --text-secondary-color: #a8a8a8;
  --secondary-color: #6504b1;
  --primary-color: #993de1;
  --bg-secondary-color: #1c1c1d;
  --bg-global: #151515;
  --h1-size: 40px;
  --h1-lh: 49px;
  --navbar-height: 90px;
  --index-sections-gap: 80px;
  --thumb-width: 100px;
  --thumb-height: 32px;

  --animate-float: floatY 4s ease-in-out infinite;
    --animate-floatSlow: floatY 6s ease-in-out infinite;
    --animate-floatRev: floatYrev 5s ease-in-out infinite;
    --animate-floatRocket: floatRocket 3s ease-in-out infinite;
    --animate-fade-up: fade-up 3s cubic-bezier(.16,1,.3,1) both;
    --animate-float-y: float-y 4s ease-in-out infinite; 
    --animate-clip-wiggle: clip-wiggle 2.4s ease-in-out infinite;
}

.animate-fade-up { animation: var(--animate-fade-up)}
.animate-float-y { animation: var(--animate-float-y)}
.animate-clip-wiggle { animation: var(--animate-clip-wiggle)}

.float       { animation: var(--animate-float); }
.float-slow  { animation: var(--animate-floatSlow); }
.float-rev   { animation: var(--animate-floatRev); }
.float-rocket {animation: var(--animate-floatRocket);}

/* Опционально — плавнее и забота о доступности */
.float, .float-slow, .float-rev {
  will-change: transform;
  transform: translateZ(0); /* подсказка GPU */
}
@media (prefers-reduced-motion: reduce) {
  .float, .float-slow, .float-rev { animation: none; }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}


.header-shadow {
  box-shadow: -22px 28px 79px 0px #06054a1a;

  box-shadow: -90px 113px 144px 0px #06054a17;

  box-shadow: -202px 254px 195px 0px #06054a0d;

  box-shadow: -359px 451px 231px 0px #06054a03;

  box-shadow: -561px 705px 250px 0px #06054a00;
}

.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  .container-custom {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-custom {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-custom {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container-custom {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container-custom {
    max-width: 1440px;
  }
}

@media (min-width: 1540px) {
  .container-custom {
    max-width: 1540px;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Rosatom';
  position: relative;
  background-image: url(./assets/bg-default.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-catalog { 
  background-image: url(./assets/bg-catalog.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.exclusive-card {
  background-image: url(./assets/bg-default.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pink-block {
  background-color: var(--color-primary-active);
  padding: 20px;
  width: 100%; /* можно адаптивно */
  border-radius: 20px;
}

/* На экранах шире 768px заменяем */
@media (min-width: 768px) {
  .pink-block {
    background-color: transparent;
    background-image: url('./assets/bg-pink.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 740px;
    height: 402px;
    padding: 0px;
    border-radius: 0px;
  }
}

/* .pink-block {
  background-image: url(./assets/bg-pink.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 740px;
  height: 402px;
}

.mobile-pink-block {
  background-image: url(./assets/mobile-bg-pink.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 330px;
} */

.mobile-blue-block {
  background-color: var(--color-primary-active);
  padding: 20px;
  width: 100%; /* можно адаптивно */
}

/* (опционально) Вариант с «пилюлей»-черточкой */
@layer components {
  .list-pill {
    @apply mt-3 space-y-1.5 text-base leading-[130%] font-normal;
  }
  .list-pill > li {
    @apply relative pl-3 list-none;
  }
  .list-pill > li::before {
    content: '';
    @apply absolute left-0 w-[10px] h-[2px] rounded-full bg-white/90;
    top: 0.65em; /* подгони под свой шрифт */
  }
}

@layer components {
  .title-text {
    @apply text-dark-blue md:text-[54px] text-[32px] font-bold leading-[110%];
  }

  .description-text {
    @apply md:text-lg text-base font-normal text-secondary-text leading-[130%]
  }
}

.button-shadow-blue-active {
  box-shadow: 0px 12px 13px 0px #05aff24c;
  transform: scale(1.02);
  transition: 0.3s all ease-in-out;
  
}

.feedback-carousel .swiper-pagination-bullet {
  background: white;
  opacity: 0.8;
}

.feedback-carousel .swiper-pagination-bullet-active {
  background: var(--primary);
}

.button-shadow-blue:hover {
  box-shadow: 0px 12px 13px 0px #05aff24c;
  transform: scale(1.02);
  transition: 0.3s all ease-in-out;
  
}


.button-shadow-pink:hover {
  box-shadow: 0px 12px 60px 0px #8800FF66;
}


.bg-linear-gradient {
  background: linear-gradient(87.11deg, rgba(249, 36, 117, 0) 13.25%, #EA2178 91.89%);
}




@font-face {
  font-family: 'Rosatom';
  src: url('./assets/font/Rosatom-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rosatom';
  src: url('./assets/font/Rosatom-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

.number-about-text {
  font-family: "Geist", sans-serif;
}

@font-face {
  font-family: 'Rosatom';
  src: url('./assets/font/Rosatom-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

p.no-hyphen {
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  overflow-wrap: break-word; /* или word-wrap: break-word; для старых */
  word-break: normal;
}

.bg-feedback {
  background-image: url(./assets/feedback.png);
  background-size: cover;       /* чтобы фон заполнил весь экран */
  background-position: center;  /* центрировать */
  background-repeat: no-repeat;
}

.color-btn-shadow {
  box-shadow: 0px 0px 0px 1px #0487D9;
}



